services:
  qbittorrent:
    image: lscr.io/linuxserver/qbittorrent:latest
    container_name: qbittorrent
    hostname: qbittorrent
    restart: unless-stopped
    mem_limit: ${QBITTORRENT_MEM_LIMIT}
    networks:
      - media_server
    environment:
      - PUID=${PUID}
      - PGID=${PGID}
      - TZ=${TZ}
      - WEBUI_PORT=${QBITTORRENT_UI_PORT}
      - TORRENTING_PORT=${QBITTORRENT_TORRENT_PORT}
    volumes:
      - ./qbittorrent/config:/config
      - ${DOWNLOADS_PATH}:/downloads
    ports:
      - ${QBITTORRENT_UI_PORT}:${QBITTORRENT_UI_PORT}
      - ${QBITTORRENT_TORRENT_PORT}:${QBITTORRENT_TORRENT_PORT}
      - ${QBITTORRENT_TORRENT_PORT}:${QBITTORRENT_TORRENT_PORT}/udp
    labels:
      - "com.centurylinklabs.watchtower.enable=true"

  jellyfin:
    image: jellyfin/jellyfin:10.11.0
    container_name: jellyfin
    hostname: jellyfin
    restart: unless-stopped
    networks:
      - media_server
    environment:
      - PUID=${PUID}
      - PGID=${PGID}
      - TZ=${TZ}
      - JELLYFIN_PublishedServerUrl=jellyfin.nofiat.me
    ports:
      - ${JELLYFIN_PORT}:8096
    group_add:
      - ${RENDER_GROUP}
    volumes:
      - jellyfin_data:/config
      - jellyfin_cache:/cache
      - ${SHOWS_PATH}:/shows
      - ${MOVIES_PATH}:/movies
      - ./jellyfin/plugins:/config/plugins
    devices:
      - ${RENDER_DEVICE}:${RENDER_DEVICE}
    labels:
      - "com.centurylinklabs.watchtower.enable=true"

  flaresolverr:
    image: ghcr.io/flaresolverr/flaresolverr:latest
    container_name: flaresolverr
    hostname: flaresolverr
    restart: unless-stopped
    mem_limit: ${FLARESOLVERR_MEM_LIMIT}
    environment:
      - LOG_LEVEL=${FLARESOLVERR_LOG_LEVEL:-info}
      - LOG_HTML=false
      - CAPTCHA_SOLVER=none
      - TZ=${TZ}
    networks:
      - media_server
    ports:
      - ${FLARESOLVERR_PORT}:8191

    labels:
      - "com.centurylinklabs.watchtower.enable=true"

  prowlarr:
    image: linuxserver/prowlarr:latest
    container_name: prowlarr
    environment:
      - PUID=${PUID}
      - PGID=${PGID}
      - TZ=${TZ}
    hostname: prowlarr
    restart: unless-stopped
    mem_limit: ${PROWLARR_MEM_LIMIT}
    networks:
      - media_server
    ports:
      - ${PROWLARR_PORT}:9696
    volumes:
      - prowlarr_data:/config

    labels:
      - "com.centurylinklabs.watchtower.enable=true"

  sonarr:
    image: lscr.io/linuxserver/sonarr:latest
    container_name: sonarr
    hostname: sonarr
    restart: unless-stopped
    mem_limit: ${SONARR_MEM_LIMIT}
    environment:
      - PUID=${PUID}
      - PGID=${PGID}
      - TZ=${TZ}
    networks:
      - media_server
    ports:
      - ${SONARR_PORT}:8989
    volumes:
      - sonarr_data:/config
      - ${SHOWS_PATH}:/shows
      - ${DOWNLOADS_PATH}:/downloads
      - ./sonarr/custom-cont-init.d:/custom-cont-init.d:ro
    depends_on:
      - prowlarr
      - qbittorrent

    labels:
      - "com.centurylinklabs.watchtower.enable=true"

  radarr:
    image: lscr.io/linuxserver/radarr:latest
    container_name: radarr
    hostname: radarr
    restart: unless-stopped
    mem_limit: ${RADARR_MEM_LIMIT}
    environment:
      - PUID=${PUID}
      - PGID=${PGID}
      - TZ=${TZ}
    networks:
      - media_server
    ports:
      - ${RADARR_PORT}:7878
    volumes:
      - radarr_data:/config
      - ${MOVIES_PATH}:/movies
      - ${DOWNLOADS_PATH}:/downloads
      - ./radarr/custom-cont-init.d:/custom-cont-init.d:ro
    depends_on:
      - prowlarr
      - qbittorrent

    labels:
      - "com.centurylinklabs.watchtower.enable=true"

  bazarr:
    image: lscr.io/linuxserver/bazarr:latest
    container_name: bazarr
    hostname: bazarr
    restart: unless-stopped
    environment:
      - PUID=${PUID}
      - PGID=${PGID}
      - TZ=${TZ}
      - UMASK=${UMASK:-022}
      - SONARR_API_KEY=${SONARR_API_KEY}
      - RADARR_API_KEY=${RADARR_API_KEY}
    mem_limit: ${BAZARR_MEM_LIMIT}
    networks:
      - media_server
    ports:
      - ${BAZARR_PORT}:6767
    volumes:
      - bazarr_data:/config
      - ${MOVIES_PATH}:/movies
      - ${SHOWS_PATH}:/shows
      - ./bazarr/config:/config/config
    depends_on:
      - sonarr
      - radarr

    labels:
      - "com.centurylinklabs.watchtower.enable=true"

  cleanuparr:
    image: ghcr.io/cleanuparr/cleanuparr:latest
    container_name: cleanuparr
    hostname: cleanuparr
    restart: unless-stopped
    mem_limit: ${CLEANUPARR_MEM_LIMIT}
    environment:
      - PUID=${PUID}
      - PGID=${PGID}
      - TZ=${TZ}
    networks:
      - media_server
    ports:
      - ${CLEANUPARR_PORT}:11011
    volumes:
      - cleanuparr_data:/config
      - ${DOWNLOADS_PATH}:/downloads
    depends_on:
      - sonarr
      - radarr
      - qbittorrent

    labels:
      - "com.centurylinklabs.watchtower.enable=true"

  deleterr:
    build: ./deleterr
    container_name: deleterr
    hostname: deleterr
    restart: unless-stopped
    mem_limit: ${DELETERR_MEM_LIMIT}
    environment:
      - SONARR_URL=http://sonarr:8989
      - RADARR_URL=http://radarr:7878
      - SONARR_API_KEY=${SONARR_API_KEY}
      - RADARR_API_KEY=${RADARR_API_KEY}
      - DELETERR_PORT=${DELETERR_PORT}
      - LOG_LEVEL=INFO
    networks:
      - media_server
    ports:
      - ${DELETERR_PORT}:5000
    volumes:
      - deleterr_data:/app/logs
    depends_on:
      - sonarr
      - radarr

  huntarr:
    image: huntarr/huntarr:latest
    container_name: huntarr
    hostname: huntarr
    restart: unless-stopped
    mem_limit: ${HUNTARR_MEM_LIMIT}
    environment:
      - PUID=${PUID}
      - PGID=${PGID}
      - TZ=${TZ}
    networks:
      - media_server
    ports:
      - ${HUNTARR_PORT}:9705
    volumes:
      - huntarr_data:/config
    depends_on:
      - sonarr
      - radarr
    labels:
      - "com.centurylinklabs.watchtower.enable=true"

  watchtower:
    image: containrrr/watchtower:latest
    container_name: watchtower
    hostname: watchtower
    restart: unless-stopped
    mem_limit: ${WATCHTOWER_MEM_LIMIT}
    environment:
      - TZ=${TZ}
      - WATCHTOWER_CLEANUP=true
      - WATCHTOWER_LABEL_ENABLE=true
      - WATCHTOWER_INCLUDE_RESTARTING=true
      - WATCHTOWER_SCHEDULE=${WATCHTOWER_SCHEDULE:-0 0 4 * * *}
      - WATCHTOWER_NOTIFICATIONS=${WATCHTOWER_NOTIFICATIONS:-}
      - WATCHTOWER_NOTIFICATION_URL=${WATCHTOWER_NOTIFICATION_URL:-}
    networks:
      - media_server
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    labels:
      - "com.centurylinklabs.watchtower.enable=true"

volumes:
  qbittorrent_data:
  jellyfin_data:
  jellyfin_cache:
  prowlarr_data:
  sonarr_data:
  radarr_data:
  bazarr_data:
  cleanuparr_data:
  deleterr_data:
  huntarr_data:

networks:
  media_server:
    external: true
